/*
=============================================
ARCHIVE GRID
=============================================
*/

.archive-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
}

.archive-item {
    display: flex;
    flex-direction: column;
}

.archive-item img {
    display: block;
    width: 100%;
    height: auto;

    filter: grayscale(10%);
    transition: filter 0.25s ease;
}



.archive-item:hover img {
    filter: grayscale(0%);
}

.caption {
    font-size: 14px;
    line-height: 1.4;
    color: rgb(26, 44, 21);
    opacity: 0.85;
    margin-top: 10px;
    width: 100%;
}

/*
=============================================
ARCHIVE GRID FOR TRAVEL 
=============================================
*/
.archive-grid-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.archive-item-2 {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    margin: 0;
    padding: 0;
}

.archive-item-2 a {
    display: block;
    width: auto;
}

.archive-item-2 img {
    display: block;
    width: auto;
    height: 200px;
    max-width: none;

    filter: grayscale(10%);
    transition: filter 0.25s ease;
}

.archive-item-2:hover img {
    filter: grayscale(0%);
}

/*
=============================================
MEDIA QUERIES
=============================================
*/

/*
=1 COLUMN
=============================================
*/
@media (max-width: 575.98px) {
    .archive-item{
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);

    }
}

/*
=2 COLUMNS
=============================================
*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .archive-item{
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}

/*
=3 COLUMNS
=============================================
*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .archive-item {
        flex: 0 0 calc(33.333% - 14px);
        max-width: calc(33.333% - 14px);
    }
}

/*
=4 COLUMNS
=============================================
*/
@media (min-width: 992px) {
    .archive-item {
        flex: 0 0 calc(25% - 15px);
        max-width: calc(25% - 15px);
    }
 
}

@media (max-width: 600px) {

    .archive-grid-2 {
        gap: 10px;
    }

    .archive-item-2 {
        flex: 0 0 calc(50% - 5px);
        max-width: calc(50% - 5px);
    }

    .archive-item-2 img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

}