
@media (max-width: 1200px) {

    .cl {
        left: 15%;
        top: 31%;
    }
  
    .cp {
        left: 16%;
        top: 13%;
    }
  
    .essays {
        left: 16%;
        top: 27%;
    }
  
    .pc {
        left: 14%;
        top: 57%;
        word-spacing: 2em;
    }
  
    .er {
        left: 33%;
        top: 40%;
        word-spacing: 4.3em;
    }
  
    .aw {
        left: 14%;
        top: 68%;
        letter-spacing: 0.4em;
    }
  
    .tl {
        left: 45%;
        top: 73%;
    }
  
    .education {
        left: 34%;
        top: 52%;
        letter-spacing: 1em;
    }
  
    .testimonials {
        left: 58%;
        top: 61%;
    }
  
    .go {
        left: 56%;
        top: 46%;
    }
  
    .hands img,
  .birds img {
      width: 200px;
      height: auto;
      display: block;
  }
  
  }
  @media (max-width: 800px) {

    .cl {
        font-size: 46px;
    }

    .essays,
    .testimonials,
    .go {
        font-size: 25px;
    }

    .cp,
    .pc,
    .er,
    .aw,
    .tl,
    .education {
        font-size: 19px;
    }

    .hands img,
    .birds img {
        width: 150px;
    }

}


@media (max-width: 575.25px) {

    .pge-wrapper-index {
        align-items: center;
        max-width: 90%;
        padding-left: 10%;
    }

    .cl {
        left: 6%;
        top: 31%;
    }
  
    .cp {
        left: 6%;
        top: 10%;
    }
  
    .essays {
        left: 6%;
        top: 25%;
    }
  
    .pc {
        left: 6%;
        top: 57%;
        word-spacing: 2em;
    }
  
    .er {
        left: 33%;
        top: 40%;
        word-spacing: 4.3em;
    }
  
    .aw {
        left: 6%;
        top: 72%;
        letter-spacing: 0.4em;
    }
  
    .tl {
        left: 53%;
        top: 77%;
    }
  
    .education {
        left: 28%;
        top: 53%;
        letter-spacing: 1em;
    }
  
    .testimonials {
        left: 40%;
        top: 65%;
    }
  
    .go {
        left: 40%;
        top: 46%;
    }
  
    .hands img,
  .birds img {
      width: 200px;
      height: auto;
      display: block;
      
  }
  .hands {
    left: 40vw;
    top: 31vh;
  }
  
  .birds {
    left: 9vw;
    top: 51vh;
  }

  }


  @media (max-width: 800px) {

    .cl {
        font-size: 46px;
    }

    .essays,
    .testimonials,
    .go {
        font-size: 25px;
    }

    .cp,
    .pc,
    .er,
    .aw,
    .tl,
    .education {
        font-size: 19px;
    }

    .hands img,
    .birds img {
        width: 150px;
    }

}